<app-menu></app-menu>
<div class="card bg-dark text-white">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">

    <form>
      <div class="form-group row">
        <label for="titulo" class="col-form-label col-sm-2">Titulo</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="tarea.titulo" name="titulo">
        </div>
      </div>

      <div class="form-group row">
        <label for="descripcion" class="col-form-label col-sm-2">Descripcion</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="tarea.descripcion" name="descripcion">
        </div>
      </div>

      <div class="form-group row">
        <label for="estado" class="col-form-label col-sm-2">Estado</label>
        <div class="col-sm-6">
          <!--input type="text" class="form-control" [(ngModel)]="tarea.estado" name="estado"-->
          <select class="form-control" type="text" name="estado"  [(ngModel)]="tarea.estado"  style="width:500px;">
            <option  [ngValue]="undefined">--- selecione ---</option>
            <option ng-value='activo'>Activo</option>
            <option  ng-value='inactivo'>Inactivo</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="usuario" class="col-form-label col-sm-2">Usuario Asignado</label>
        <div class="col-sm-6">
          <select [compareWith]="compararUsuario" class="form-control" [(ngModel)]="tarea.usuario" name="usuario" style="width:500px;">
            <option [ngValue]="undefined">--- selecionar un usuario ---</option>
            <option *ngFor="let usuario of usuarios"[ngValue] =usuario>{{usuario.nombre}}</option>
          </select>
        </div>
      </div>
      <!--div class="form-group row">
        <label for="usuario" class="col-form-label col-sm-2">Usuario</label>
        <div class="col-sm-6">
          <select [compareWith]="compararUsuario" class="form-control" [(ngModel)]="tarea.usuario" name="usuario" style="width:500px;">
            <option [ngValue]="undefined">--- selecionar una usuario ---</option>
            <option *ngFor="let usuario of usuarioes" [ngValue]="usuario">{{usuario.nombre}}</option>
          </select>
        </div>
      </div-->
      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!tarea.id else elseBlock">Crear</button>

          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)='update()'>Editar</button>
          </ng-template>
        </div>
      </div>
    </form>

  </div>
</div>
