
<app-menu></app-menu>

<div class="card border-primary mb-3">
  <div class="card-header">Tareas</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de tareas</h5>
    <div class="my-2 text-left" *ngIf="isAdmin">
      <button class="btn btn-rounded btn-primary" type="button" routerLink="/tareas/form">
        Crear Tarea
      </button>
    </div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>Titulo</th>
          <th>descripcion</th>
          <th>estado</th>
          <th>fecha</th>
          <th>Asignado a </th>
          <th>
            editar
          </th>
          <th>eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tarea of tareas">
          <td>{{ tarea.id }}</td>
          <td>{{ tarea.titulo }}</td>
          <td>{{ tarea.descripcion }}</td>
          <td>{{ tarea.estado }}</td>
          <td>{{ tarea.createAt }}</td>
          <td>{{ tarea.usuario.nombreUsuario?tarea.usuario.nombreUsuario : "" }}</td>

          <td>
            <button type="button" name="editar" routerLink="/tareas/form/{{tarea.id}} " class="btn btn-primary btn-sm">editar</button>
          </td>
          <td>
            <button type="button" name="eliminar" (click)='delete(tarea)' class="btn btn-danger btn-sm">eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
